﻿@{
    ViewBag.Title = "About Rating Tracker";
}
<h2>@ViewBag.Title.</h2>

<p>RatingTracker is a simple application to track competitive ratings among players over time. RatingTracker uses the <a href="http://en.wikipedia.org/wiki/Elo_rating_system" target="_blank">Elo rating system</a>.</p>
