﻿@model RatingTracker.Models.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-6">
        <h2>Recent Games</h2>
        <table class="table table-condensed">
            <tr><th>Winner</th><th>Loser</th><th>Date</th></tr>
            @foreach (var game in Model.Games.OrderByDescending(m => m.TimeStamp).Take(25))
            {
                if (game.IsCriticalUpset)
                {
                    <tr class="danger">
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
                else if (game.IsUpset)
                {

                    <tr class="warning">
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="col-md-6">
        <h2>Featured League Rankings</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            @for (int i = 0; i < Model.FeaturedLeagues.ToArray().Count(); i++)
            {
                var league = Model.FeaturedLeagues.ToArray()[i];
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading@(i)">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)">
                                @league.Name
                            </a>
                        </h4>
                    </div>
                    <div id="collapse@(i)" class="@if (i == 0) { <text>panel-collapse collapse in</text> } else { <text>panel-collapse collapse</text> } " role="tabpanel" aria-labelledby="heading@(i)">
                        <div class="panel-body">
                            <table class="table table-condensed">
                                <tr><th>Rank</th><th>Player</th><th>Current Rating</th></tr>
                                @for (int j = 0; j < Model.GetPlayers(league.Id).Count(); j++)
                                {
                                    var player = Model.GetPlayers(league.Id).OrderByDescending(m => m.CurrentRating).ElementAt(j);
                                    var prevPlayer = j == 0 ? null : Model.GetPlayers(league.Id).OrderByDescending(m => m.CurrentRating).ElementAt(j - 1);
                                    <tr>
                                        @if (j > 0 && player.CurrentRating == prevPlayer.CurrentRating)
                                        {
                                            <td> - </td>
                                        }
                                        else
                                        {
                                            <td>@(j + 1).</td>
                                        }
                                        <td>@Html.ActionLink(player.Name, "League", "Player", new { id = player.LeaguePlayerId }, null)</td>
                                        <td>@player.CurrentRating</td>
                                    </tr>
                                }
                            </table>
                            @Html.ActionLink("League Details", "Details", "League", new { league.Id }, new { @class = "btn btn-xs btn-info " })
                            @Html.ActionLink("Record Game", "Create", "Game", new { league.Id }, new { @class = "btn btn-xs btn-success " })
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Players</h2>
        <p>
            Add new players. View current player rankings.
        </p>
        <p><a class="btn btn-default" href="/player">Players &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Games</h2>
        <p>View or record game results.</p>
        <p><a class="btn btn-default" href="/game">Games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Elo Ratings</h2>
        <p>Learn more about the Elo rating system.</p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Elo_rating_system">Learn more &raquo;</a></p>
    </div>
</div>