﻿@{
    ViewBag.Title = "Recalculate All Scores";
}
<h1>Record new game results </h1>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Calculate", "Game", null, FormMethod.Post, new { role = "form" }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()

                    <p>Click submit to recalculate all scores.</p>

                    <input type="submit" class="btn btn-success" value="Submit" />
                </div>
            </div>
        }

    </div>
</div>