﻿@model RatingTracker.Models.Game.CreateViewModel
@{
    ViewBag.Title = "Add New Game";
}
<h1>Record new game results </h1>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Create", "Game", null, FormMethod.Post, new { role = "form" }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead">@Model.LeagueName</p>
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Winner</label>
                        @Html.DropDownListFor(m => m.SelectedWinnerId, Model.PlayerSelectList, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Loser</label>
                        @Html.DropDownListFor(m => m.SelectedLoserId, Model.PlayerSelectList, new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(m => m.LeagueId)
                    <input type="submit" class="btn btn-success" value="Submit" />
                </div>
            </div>
        }

    </div>
</div>