﻿@model RatingTracker.Models.Game.DeleteViewModel
@{
    ViewBag.Title = "Delete Game";
}
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Delete", "Game", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <table class="table table-condensed">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                <tr><td>Winner:</td><td>@Model.Game.WinnerName</td></tr>
                <tr><td>Loser:</td><td>@Model.Game.LoserName</td></tr>
                <tr><td>Game Time:</td><td>@Model.Game.TimeStamp</td></tr>
            </table>
            @Html.HiddenFor(m=>m.Id)
            <div class="alert alert-danger">
                <h4>Warning</h4>
                <p>Deleting this game will recalculate all affected players ratings. Please only delete this game if you are sure you would like to remove it from the game history.</p>
            </div>
            <input type="submit" class="btn btn-success" value="Submit"/>
        }
    </div>
</div>