﻿@model RatingTracker.Models.Game.IndexViewModel
@{
    ViewBag.Title = "Games";
}



<div class="row">
    <div class="col-xs-12">
        <h1>Recent Games</h1>
        <table class="table table-condensed">
            <tr><th>&nbsp;</th><th>Winner</th><th>Loser</th><th>Date</th></tr>
            @foreach (var game in Model.Games.OrderByDescending(m => m.TimeStamp).Take(25))
            {
                if (game.IsCriticalUpset)
                {
                    <tr class="danger">
                        <td>@Html.ActionLink("Delete", "Delete", new { id = game.GameId }, new { @class = "btn btn-xs btn-danger" })</td>
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
                else if (game.IsUpset)
                {

                    <tr class="warning">
                        <td>@Html.ActionLink("Delete", "Delete", new { id = game.GameId }, new { @class = "btn btn-xs btn-danger" })</td>
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = game.GameId }, new { @class = "btn btn-xs btn-danger" })</td>
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
            }
        </table>
        @Html.ActionLink("Add Game", "Index", "League", null, new { @class = "btn btn-primary" })
    </div>
</div>