﻿@model RatingTracker.Models.League.AddPlayerViewModel
@{
    ViewBag.Title = "Add League Players";
}
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("AddPlayer", "League", null, FormMethod.Post, new { role = "form" }))
        {
            <h1>Add Player to @Model.LeagueName</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Player</label>
                        @Html.DropDownListFor(m => m.SelectedPlayerId, Model.Players, new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(m => m.LeagueId)


                    <input type="submit" class="btn btn-success" value="Submit" />
                    @Html.ActionLink("Create Players", "Create", "Player", null, new { @class = "btn btn-info" })


                </div>
            </div>
            
        }
    </div>
</div>