﻿@model RatingTracker.Models.League.CreateViewModel
@{
    ViewBag.Title = "Add New League";
}
<div class="row">
    <div class="col-xs-12">
        <h1>Add League</h1>

        @using (Html.BeginForm("Create", "League", null, FormMethod.Post, new { role = "form" }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Name</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    <input type="submit" class="btn btn-success" value="Submit" />
                </div>
            </div>
        }
    </div>
</div>