﻿@model RatingTracker.Models.League.DetailsViewModel
@{
    ViewBag.Title = "League Details";
}



<div class="row">
    <div class="col-xs-12">
        <h1>
            @Model.Name
        </h1>
        <div class="hidden-xs hidden-sm">
            <a href="/league" class="btn btn-primary">Back</a>
            @Html.ActionLink("Record Game", "Create", "Game", new { Model.Id }, new { @class = "btn btn-info" })
            @Html.ActionLink("Add Player", "AddPlayer", new { Model.Id }, new { @class = "btn btn-success" })
            @Html.ActionLink("Ratings History", "History", new { Model.Id }, new { @class = "btn btn-default" })
        </div>
        <div class="hidden-lg hidden-md">
            <a href="/league" class="btn btn-primary btn-xs">Back</a>
            @Html.ActionLink("Record Game", "Create", "Game", new { Model.Id }, new { @class = "btn btn-info btn-xs" })
            @Html.ActionLink("Add Player", "AddPlayer", new { Model.Id }, new { @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Ratings History", "History", new { Model.Id }, new { @class = "btn btn-default btn-xs" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>League Rankings</h2>
        <table class="table table-condensed">
            <tr><th>Rank</th><th>Player</th><th>Current Rating</th></tr>
            @for (int i = 0; i < Model.Players.Count(); i++)
            {
                var player = Model.Players.OrderByDescending(m=>m.CurrentRating).ElementAt(i);
                var prevPlayer = i == 0 ? null : Model.Players.OrderByDescending(m=>m.CurrentRating).ElementAt(i - 1);
                <tr>
                    @if (i > 0 && player.CurrentRating == prevPlayer.CurrentRating)
                    {
                        <td> - </td>
                    }
                    else
                    {
                        <td>@(i + 1).</td>
                    }
                    <td>@Html.ActionLink(player.Name, "League", "Player", new { id = player.LeaguePlayerId }, null)</td>
                    <td>@player.CurrentRating</td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-6">
        <h2>Game History</h2>
        <table class="table table-condensed">
            <tr><th>&nbsp;</th><th>Winner</th><th>Loser</th><th>Date</th></tr>
            @foreach (var game in Model.Games.OrderByDescending(m => m.TimeStamp).Take(25))
            {
                if (game.IsCriticalUpset)
                {
                    <tr class="danger">
                        <td>@Html.ActionLink("Delete", "Delete", "Game", new { id = game.GameId }, new { @class = "btn btn-xs btn-danger" })</td>
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
                else if (game.IsUpset)
                {

                    <tr class="warning">
                        <td>@Html.ActionLink("Delete", "Delete", "Game", new { id = game.GameId }, new { @class = "btn btn-xs btn-danger" })</td>
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@Html.ActionLink("Delete", "Delete", "Game", new { id = game.GameId }, new { @class = "btn btn-xs btn-danger" })</td>
                        <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                        <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                        <td>@game.TimeStamp</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>