﻿@{
    ViewBag.Title = "Rating History";
}

<h1>Rating History</h1>

<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("League Details", "Details", "League", new { id = Model.LeagueId }, new { @class = "btn btn-default" })

        <div id="chart"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/d3/d3.min.js"></script>
    <script src="~/Scripts/c3.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $.get("/player/ratingsovertime/@Model.LeagueId", function (data) {
                var columns = GetColumns(data);

                var chart = c3.generate({
                    type: 'spline',
                    bindto: '#chart',
                    data: {
                        x: 'x',
                        columns: columns
                    }
                });
            });


        });

        var GetColumns = function(data) {

            var toRet = [];
            var players = [];
            var x = [];
            x.push('x');

            for (i = 0; i < data.length; i++) {
                var player = data[i];
                var ratings = [];
                ratings.push(player.name);
                x.push(0);
                for (j = 0; j < player.data.length; j++) {
                    var rating = player.data[j];
                    ratings.push(rating.y);
                    if (i === 0) {
                        x.push(j + 1);
                    }

                }
                players.push(ratings);
            }

            toRet.push(x);

            players.sort(function (a, b) {
                var x = a[0].toLowerCase(), y = b[0].toLowerCase();
                return x < y ? -1 : x > y ? 1 : 0;
            });

            for (var i = 0; i < players.length; i++) {
                toRet.push(players[i]);
            }

            return toRet;
        };

    </script>
}
