﻿@model RatingTracker.Models.League.IndexViewModel
@{
    ViewBag.Title = "Leagues";
}

<h1>Leagues</h1>

<div class="row">
    <div class="col-xs-12">

        <div class="list-group">
            @foreach (var league in Model.Leagues)
            {
                @Html.ActionLink(league.Name, "Details", "League", new { id = league.Id }, new { @class = "list-group-item" })
            }
        </div>


        @Html.ActionLink("Add League", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
