﻿@model RatingTracker.Models.League.RemovePlayerViewModel
@{
    ViewBag.Title = "Remove League Player";
}
<div class="row">
    <div class="col-xs-12">
        <p>Are you sure you wish to remove this player from the league?</p>
        @using (Html.BeginForm("RemovePlayer", "League", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            
            @Html.HiddenFor(m=>m.ToRemoveId)
            <input type="submit" class="btn btn-success" value="Submit"/>
        }
    </div>
</div>