﻿@model RatingTracker.Models.Player.EditViewModel
@{
    ViewBag.Title = "Edit Player";
}
<div class="row">
    <div class="col-xs-12">
        <h1>Edit Player</h1>
        @using (Html.BeginForm("Edit", "Player", null, FormMethod.Post, new { role = "form" }))
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.ValidationSummary()
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Name</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(m => m.Id)
                    <input type="submit" class="btn btn-success" value="Submit" />
                    @Html.ActionLink("Cancel", "Profile", new { Model.Id }, new { @class = "btn btn-default" })
                </div>

            </div>
        }
    </div>
</div>