﻿@model RatingTracker.Models.Player.IndexViewModel
@{
    ViewBag.Title = "Players";
}

<h1>All Players</h1>

<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            @foreach (var player in Model.Players.OrderBy(m=>m.Name))
            {
                @Html.ActionLink(player.Name, "Profile", "Player", new { id = player.Id }, new { @class="list-group-item"})
            }
        </div>
        @Html.ActionLink("Add Player", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
