﻿@model RatingTracker.Models.Player.LeagueViewModel
@{
    ViewBag.Title = "Player League Profile";
}



<div class="row">
    <div class="col-xs-12">
        <h1>
            @Model.Player.Name
            <span id="winloss"></span>

        </h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Stats</h2>
                <table class="table table-condensed">
                    <tr><td>Current Rating:</td><td>@Model.LeaguePlayer.CurrentRating</td></tr>
                    <tr><td>Highest Rating:</td><td>@Model.MaxRating</td></tr>
                    <tr><td>Wins:</td><td>@Model.Games.Count(m => m.WinnerPlayerId == Model.Player.Id)</td></tr>
                    <tr><td>Losses:</td><td>@Model.Games.Count(m => m.LoserPlayerId == Model.Player.Id)</td></tr>
                    <tr><td>Games Played:</td><td>@Model.Games.Count()</td></tr>
                </table>
                @Html.ActionLink("League Roster", "Details", "League", new { id = Model.LeaguePlayer.LeagueId }, new { @class = "btn btn-xs btn-default" })
            </div>

            <div class="col-md-6">
                <h2>League Games</h2>
                <table class="table table-condensed">
                    <tr><th>Winner</th><th>Loser</th><th>Date</th></tr>
                    @foreach (var game in Model.Games.OrderByDescending(m => m.TimeStamp).Take(25))
                    {
                        if (game.IsCriticalUpset)
                        {
                            <tr class="danger">
                                <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                                <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                                <td>@game.TimeStamp</td>
                            </tr>
                        }
                        else if (game.IsUpset)
                        {

                            <tr class="warning">
                                <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                                <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                                <td>@game.TimeStamp</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="text-success">@game.WinnerName (@(Math.Round(game.Bias * 100, 1))%)</td>
                                <td class="text-danger">@game.LoserName (@(Math.Round(100 - game.Bias * 100, 1))%)</td>
                                <td>@game.TimeStamp</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>



</div>

@section scripts
{
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.get("/player/record/@Model.LeaguePlayer.Id", function (data) {
                $("#winloss").sparkline(data, {
                    type: 'tristate',
                    posBarColor: '#7be512',
                    negBarColor: '#bf0000',
                    disableTooltips: true
                });
            });
        });
    </script>
}
