﻿@model RatingTracker.Models.Player.ProfileViewModel
@{
    ViewBag.Title = "Player Profile";
}



<div class="row">
    <div class="col-xs-12">
        <h1>
            @Model.Player.Name
        </h1>
        <div class="row">
            <div class="col-sm-6">
                <h2>Quick Stats</h2>
                <table class="table table-condensed">
                    <tr><td>Wins:</td><td>@Model.Games.Count(m => m.WinnerPlayerId == Model.Player.Id)</td></tr>
                    <tr><td>Losses:</td><td>@Model.Games.Count(m => m.LoserPlayerId == Model.Player.Id)</td></tr>
                    <tr><td>Games Played:</td><td>@Model.Games.Count()</td></tr>
                </table>
               
                <a href="/player" class="btn btn-primary">Back</a>
                @Html.ActionLink("Edit", "Edit", new { Model.Player.Id }, new { @class = "btn btn-info" })


            </div>
            <div class="col-sm-6">
                <h2>Leagues</h2>
                <div class="list-group">
                    @foreach (var league in Model.Leagues)
                    {
                        @Html.ActionLink(league.LeagueName, "League", "Player", new { id = league.LeaguePlayerId }, new { @class = "list-group-item" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>

